.heroSection,
.storySection,
.worksSection,
.areasSection,
.contactSection,
.reviewsSection {
  height: 600px;
}

.heroContent,
.storyContent,
.worksContent,
.areasContent,
.contactContent,
.reviewsContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Content wrapper */
.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  padding: 0;
  /* margin: 0; */
}

.header {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
  background-color: rgba(134, 134, 134, 0.1);
  /* Semi-transparent background */
  backdrop-filter: blur(10px);
  /* Frosted glass effect */
  -webkit-backdrop-filter: blur(10px);
  /* For Safari */
  box-shadow: 0 4px 6px rgba(0, 0, 0, .4);
  /* Optional: Add a subtle shadow */
  z-index: 1000;
}

.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
}

.TBicon {
  outline: none;
  margin: 0;
  padding: 10px;
  border: 2px solid transparent;
  background: linear-gradient(to bottom right, var(--gold), white, var(--gold));
  color: white;
  overflow: visible;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.TBicon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--grey);
  /* Shiny gold gradient */
  border-radius: inherit;
  z-index: -1;
  /* Adjust padding to create the border effect */
  box-sizing: border-box;
}

.navItems {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.2rem;
}

.navItems a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding-bottom: 5px;
}

.navItems a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: var(--gold);
  /* Adjust the color as needed */
  transition: width 0.4s ease, right 0.4s ease;
}

.navItems a:hover::after {
  width: 100%;
  right: 0;
}

/* Hero section */
.heroSection {
  width: 100%;
  height: 100vh;
  background-color: black;
  background-image: url('/skyline_background.jpg');
  background-repeat: no-repeat;
  background-size: fill;
  background-position: bottom -10px left -10px;
}

.heroContent {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}



.heroTitle {
  font-size: 3rem;
  margin-bottom: 0;
  color: var(--gold);
}

.hero_scrollwork {
  width: 100%;
  max-width: 450px;
}


/* Story section */
.storySection {
  width: 100%;
}

.storyContent {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  height: 90%;
}

/* div for all text in section */
.storyText{
  width: 100%;
  text-align: center;
}

.storyScrollDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 12px;
}

.storyScrollwork {
  max-height: 20rem;
  width: auto;
  margin: 0;
  padding: 0;
}

.storyImg {
  max-width: 100%;
  height: auto;
  border-radius: 50px;
}


/* Works section */
.worksSection {
  width: 100%;
  background-color: black;
}

.worksContent {
  width: 80%;
  height: 80%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.worksText {
  width: 80%;
  text-align: center;
}

.worksCarousel {
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}

.carouselImageWrapper {
  position: relative;
  text-align: center;
}

.carouselImage {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
}

.carouselImage::after {
  content: '';
  display: block;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  position: absolute;
  top: 100%;
  left: 0;
  transform: scaleY(-1);
  opacity: 0.5;
}


/* Areas Served Section */
.areasSection {
  width: 100%;
  position: relative;
}
.areasSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/tulsaMap.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
  /* Ensure the pseudo-element is behind the content */
}

.areasContent {
  width: 80%;
}


/* Contact section */
.contactSection {
  width: 100%;
}

.contactContent {
  width: 80%;
  display: flex;
  flex-direction: row;
}


/* Reviews section */
.reviewsSection {
  width: 100%;
}

.reviewsContent {
  width: 80%;
}


/* Footer */
.footer {
  width: 100%;
  background-color: black;
  height: 200px;
}



/* Responsive media queries */
/* Tablet */
@media (min-width: 701px) {
/* Hero section */
  .heroSection {
    background-size: 80%;
  }

  /* Story section */
  .storyContent {
    justify-content: space-between;
    flex-direction: row;
  }

  /* div for all text in section */
  .storyText {
    width: 45%;
  }

  .storyScrollDiv {
    margin: auto;
  }

  .storyScrollwork {
    rotate: 90deg;
    width: 13rem;
  }

  .storyImg {
    max-width: 45%;
    height: auto;
  }
}

/* laptop Desktop */
@media (min-width: 992px) {

}
