.heroContent,
.storyContent,
.worksContent,
.areasContent,
.contactContent,
.reviewsContent,
.guaranteeContent,
.offeringsContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  50% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.main {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Content wrapper */
.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 1440px;
  height: 100%;
  padding: 0;
}

.header {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
  background-color: rgba(134, 134, 134, 0.2);
  /* Semi-transparent background */
  -webkit-backdrop-filter: blur(10px);/* For Safari */
  backdrop-filter: blur(10px);
  /* Frosted glass effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, .4);
  /* Optional: Add a subtle shadow */
  z-index: 1000;
  border-bottom: 1px solid;
  border-image: linear-gradient(to bottom left, rgb(112, 107, 55),
    var(--gold),
    rgb(112, 107, 55),
    var(--gold),
    rgb(112, 107, 55)) 1;
}

.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 100%;
}

.TBicon {
  outline: none;
  margin: 0;
  padding: 10px;
  border: 2px solid transparent;
  background: linear-gradient(to bottom right, var(--gold), rgb(112, 107, 55), var(--gold));
  color: white;
  overflow: visible;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.TBicon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--grey);
  /* Shiny gold gradient */
  border-radius: inherit;
  z-index: -1;
  /* Adjust padding to create the border effect */
  box-sizing: border-box;
}

#noBurgerNavItems {
  display: none;
}

#burgerNavItems {
  width: 100vw;
  height: calc(100vh - 60px);
  top: 0;
  left: 0;
  margin-top: 70px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: rgba(134, 134, 134, 0.2);
  /* Semi-transparent background */
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  /* Frosted glass effect */
  z-index: 1102;
}

#burgerNavItems a {
  margin: 20px;
}

.navItems a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding-bottom: 5px;

}

.navItems a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: var(--gold);
  /* Adjust the color as needed */
  transition: width 0.4s ease, right 0.4s ease;
}

.navItems a:hover::after {
  width: 100%;
  right: 0;
}

.navEstimate {
  height: 35px;
  width: 170px;
  color: var(--gold);
  border: 1px solid var(--gold);
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.navEstimate:hover {
  background-color: var(--gold);
  color: black;
}
/* Hero section */
.heroSection {
  width: 100%;
  height: 100vh;
  background-color: black;
  background-image: url('/skyline_background.jpg');
  background-repeat: no-repeat;
  background-size: fill;
  background-position: bottom -10px left -10px;
}

.heroContent {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.heroLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroTitle {
  font-size: 2.5rem;
  margin-bottom: 0;
  color: var(--gold);
}

.hero_scrollwork {
  width: 100%;
  max-width: 450px;
  height: auto;
}

.callUsButton {
  height: 45px;
  width: 200px;
  color: var(--gold);
  border: 1px solid var(--gold);
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 1.3rem;
}

.callUsButton:hover {
  background-color: var(--gold);
  color: black;
}
/* Text under logo */
.heroContent p {
  font-size: .8rem;
}

/* Story section */
.storySection {
  width: 100%;
  padding: 0 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.storyContent {
  flex-direction: column;
}

.imageContainer {
  position: relative;
  width: 400px;
  display: flex;
  justify-content: center;
}

.storyImg {
  width: 340px;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.textCutout {
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align:start;
  background: var(--grey);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cutoutText {
  font-size: 4.5rem;
  font-weight: bold;
  color: black;
  background: url('/pittmans.jpg');
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-position: center -140px;
  background-size: cover;
  top: 0%;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.15);
}

.storyScrollDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 12px;
}

.storyScrollwork {
  max-height: 20rem;
  width: auto;
  margin: 0;
  padding: 0;
}

/* div for all text in section */
.storyText {
  width: 100%;
  text-align: center;
}



/* Works section */
.worksSection {
  width: 100%;
  height: auto;
  background-color: black;
}

.worksContent {
  height: auto;
}

.worksText {
  width: 100%;

  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.worksParagraph {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.worksStandards {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.worksStandardsGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.worksStandard {
  width: 230px;
  height: 350px;
  margin: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 5px solid var(--grey);
  border-radius: 10px;
  box-shadow: 0px 0px 5px white;
}

.worksStandard img{
  width: 50%;
  margin-bottom: 10px;
}

.worksStandard h3 {
  margin: 0;
  color: var(--gold);
  font-weight: 600;
  font-size: 1.5rem;
}

.worksStandard p {
  font-size: 1.1rem;
  background-color: var(--grey);
  padding: 10px;
  height: 150px;
  margin: 0;
  display: flex;
  align-items: center;
}

/* gallary */
.worksGallary {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 15px solid var(--grey);
}

.worksGallary h2{
  margin-bottom: 0;
}

/* Carousel */
.carouselContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin-top: 50px;
}

.carouselInner {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
  padding: 0;
}

.carouselImageWrapper {
  height: 100% !important;
}

.carouselItem {
  min-width: calc(100% - 60px);
  margin: 0 30px;
  transition: transform 0.5s ease;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.carouselImageWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.carouselImage {
  width: auto;
  height: 200px;
  max-width: 290px;
  display: block;
  border-radius: 20px;
  box-shadow: 0 14px 40px rgba(255, 255, 255, 0.3);
}

.carouselImageReflection {
  opacity: 0.1;
  margin-top: -75px;
  transform: scaleY(-1) scaleX(1.2) scaleY(.3) perspective(200px) rotateX(-20deg);
}

.arrow {
  height: 50px;
  width: 50px;
  cursor: pointer;
  position: absolute;
  top: 75%;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow img {
  height: 20px;
  width: auto;
}

.arrow:first-of-type {
  left: 10%;
}

.arrow:last-of-type {
  right: 10%;
}

/* Guarantee section */
.guaranteeSection {
  width: 100%;
  background-color: black;
  border: 15px solid var(--grey);
  border-top: 15px solid black;
  background-image: linear-gradient(45deg, var(--grey) 12.5%, transparent 12.5%, transparent 50%, var(--grey) 50%, var(--grey) 62.5%, transparent 62.5%, transparent);
  background-size: 20px 20px;
}

.guaranteeText {
  text-align: center;
  margin: 50px;
  height: auto;
  width: auto;
}

/* Offerings section */

.offeringsContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.offering {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  margin-bottom: 300px;
}

.offering img {
  width: 90%;
  height: auto;
  border-radius: 20px;
}

.offeringText {
  text-align: center;
  width: 80%;
  background: rgba(134, 134, 134, 0.1);
  -webkit-backdrop-filter: blur(10px);
  /* For Safari */
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 10px;
  top: 85%;
  left: 10%;
  position: absolute;
  box-shadow: 0 5px 15px black;
}

.offeringText h3{
  font-size: 2rem;
}


/* Areas Served Section */
.areasSection {
  width: 100%;
  position: relative;
}
.areasSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/tulsaMap.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
  /* Ensure the pseudo-element is behind the content */
}

.areasContent {
  width: 90%;
}


/* Contact section */
.contactSection {
  width: 100%;
  background-color: black;
}

.contactContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Form */
.formContainer{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formSelectBtnContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: hidden;
  padding-top: 10px;
}

.formSelectBtn{
  background: none;
  font-size: 80%;
  border-radius: 0;
  font-weight: 600;
}

.formSelectBtn::before {
/* Remove default button style */
  display: none;
}

.formSelectBtn.active {
  background-color: var(--grey);
  border-top: 1px solid var(--gold);
  animation: fadeInOut .8s ease;
  transform: scale(1.2);
  color: var(--gold);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  animation: fadeInOut .8s ease;
  background-color: var(--grey);
  margin-top: -5px;
  padding-bottom: 40px;
  padding-top: 20px;
  border-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.formName,
.formNumber,
.formCompany,
.formBuilding,
.formMessage {
 height: 40px;
 width: 80%;
 margin: 15px;
 font-size: 1.2rem;
 border: none;
 border-bottom: 1px solid var(--gold);
 background-color: var(--grey);
 color: white;
 text-align: center;
}

.formSubmit {
  border-radius: 5px;
}

.formNotice {
  font-size: .8rem;
  color: grey;
}
/* Reviews section */
.reviewsSection {
  width: 100%;
}

.reviewsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviewBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  border: 6px solid black;
  padding: 15px;
  position: relative;
  margin-bottom: 100px;
}

.reviewBox::before {
  content: '';
  position: absolute;
  top: 35%;
  left: 35%;
  width: 70%;
  height: 70%;
  border-bottom: 1px solid var(--gold);
  border-right: 1px solid var(--gold);
  pointer-events: none;
}

.reviewBox::after {
  content: '';
  position: absolute;
  top: -5%;
  left: -5%;
  width: 70%;
  height: 70%;
  border-top: 1px solid var(--gold);
  border-left: 1px solid var(--gold);
  pointer-events: none;
}

.reviewboxName {
  margin: 0;
  padding: 0;
}

.reviewBoxText {
  position: relative;
  padding: 10px;
  font-size: 1.2rem;
  margin: 0;
}

.reviewBoxText::before,
.reviewBoxText::after {
  content: '“';
  /* Opening quote for ::before and closing quote for ::after */
  font-size: 4rem;
  color: var(--gold);
  /* Gold color for the quotation marks */
  position: absolute;
}

.reviewBoxText::before {
  top: -10px;
  left: -20px;
  content: '“';
  /* Opening quote */
}

.reviewBoxText::after {
  bottom: -10px;
  right: -20px;
  content: '”';
  /* Closing quote */
}


/* Footer */
.footer {
  width: 100%;
  background-color: black;
  height: 200px;
}



/* Responsive media queries */
/* Tablet */
@media (min-width: 701px) {
.heroContent,
  .storyContent,
  .worksContent,
  .areasContent,
  .contactContent,
  .reviewsContent,
  .guaranteeContent,
  .offeringsContent {
    width: 90%;
  }

  /* Nav menu */
  .hamburger {
    display: none;
  }
  #burgerNavItems {
    display: none;
  }
  #noBurgerNavItems {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.2rem;
  }

  /* Hero section */
  .heroSection {
    background-size: 80%;
  }

  .storyImg {
    width: 390px;
  }

  .cutoutText {
    font-size: 5.5rem;
    background-position: center -185px;
  }

  .worksStandards {
    flex-direction: row;
    flex-wrap: wrap;
  }

    .worksStandard {
      width: 200px;
    }

  /* carousel */
  .carouselImage {
    height: 300px;
    max-width: 590px;
  }

  .carouselImageReflection {
    margin-top: -110px;
  }

  .arrow {
    top: 65%;
  }

  .arrow:first-of-type {
    left: 3%;
  }

  .arrow:last-of-type {
    right: 3%;
  }

  .guaranteeContent {
    flex-direction: row;
  }

  .guaranteeText{
    text-align: left;
  }

  /* Offerings */

  .offeringsContainer {
    flex-direction: row;
  }

  .offering {
    width: 50%;
    margin-bottom: 200px;
  }

}

/* laptop Desktop */
@media (min-width: 992px) {
  /* carousel */
  .arrow:first-of-type {
    left: 10%;
  }

  .arrow:last-of-type {
    right: 10%;
  }

  /* Reviews */
  .reviewsContainer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .reviewBox {
    margin: 100px 40px;
  }
}
